<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Shopping Cart</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div th:replace="fragments/menu :: main-menu" >main menu goes here</div>
	
	<h1>Shopping Cart</h1>
	
	<table>
		<thead>
			<tr>
				<th>Item &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </th>
				<th>Format &nbsp; &nbsp; &nbsp;</th>
				<th>Price &nbsp; &nbsp;</th>
				<th>Quantity</th>
				<th>Remove &nbsp; &nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="prod : ${cart.products}">
				<td>
					<span th:text="${prod.product.name}">text</span>
				</td>
				<td>
					<span th:text="${prod.product.category.name}">text</span>
				</td>
				<td>
					<span th:text="${prod.product.price}">text</span>
				</td>
				<td>
					<a href="shoppingCart" th:text="${prod.count}" th:href="@{/updateProductInCart(itemNumber=${prod.itemNumber})}">product</a>					
				</td>
				<td>
					<!-- VXV changed: added ' before= th:onclick="'window.location.href = \'' + @{/checkout} + '\''"   -->
				<button onclick="window.location.href='shoppingCart.html'"
						th:onclick="'window.location.href = '\'' + @{/removeFromCart(itemNumber=${prod.itemNumber})} + '\''"
						type="button">Remove</button>
				</td>
			</tr>
			<tr>
			<td>&nbsp;</td>
			</tr>
			<tr>
				<td>Total: 
					<span th:text="${cart.sumOfAllProducts()}">text</span>
					SEK
				</td>
			</tr>
		</tbody>
	</table>

	<br />
	<!-- VXV changed: added ' before= th:onclick="'window.location.href = \'' + @{/checkout} + '\''"   -->
	<button onclick="window.location.href='shoppingCart.html'"
			th:onclick="'window.location.href = '\'' + @{/checkout} + '\''"
			type="button">Checkout</button>
	
</body>
</html>